/* main-page */

.main-page {
  padding: 20px 0;
  //margin: 0 200px;

  .container {
    padding: ($base-size * 4) ($base-size * 3.5);
    background: $color-light;
    //margin: 10px auto;
  }
}

/* subpage */

.subpage {
  margin: 0 auto;

  .element{
    padding: 0 4px;
  }

  .card {
    height: 120px;
    align-items: center;
    color: $color-light;
    border-radius: 5px;
    text-align: center;

    .card-body {
      padding: 1.5rem;

      h4 {
        font-family: "Oswald", sans-serif;
        font-size: 26px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }

  .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
  }

  .hours {
    background: $color-main;
  }
}

.subpage .main-nav, .logo .main-nav {
  display: block;

  h4 {
    margin-bottom: 1rem;

    &:hover {
      margin-top: -1.5rem;
      transition: $transition;
      cursor: pointer;
    }
  }

  a {
    color: $color-light;
    text-decoration: none;
    text-align: center;
    padding: $base-size ($base-size * 2);

  }

  p {
    font: $font-bold;
    font-size: $base-size;
  }
}

.logo .main-nav a {
  padding: 0 0;

  &.active {
    background: $color-dark;
  }
}

/* reviews */

.reviews {
  .image, .content {
    padding-right: 5px;
    padding-left: 5px;
  }

  img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

  .carousel-inner {
    height: 250px;
  }

  .carousel-item {
    height: 200px;
    margin-top: 40px;
    // text-align: left;
  }

  .carousel-caption {
    color: $color-dark;
    margin-bottom: 30px;
    text-align: left;
    right: 0;
    left: 5%;

    p {
      margin-bottom: 0;
      margin-top: 15px;
    }
  }

  .carousel-indicators {
    bottom: 0;
    margin-bottom: 0;
  }

  .carousel-indicators li {
    background-color: grey;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0 8px;
  }

  .carousel-indicators .active {
    background-color: $color-dark;
  }
}

/* gallery */

.gallery .container {
  padding-top: 25px;
}

.gallery-elements {
  padding: 0 5px;

  .card {
    justify-content: center;
    align-items: center;
  }

  .card:hover {
    img {
      background: $color-light;
      opacity: 0.5;
    }
  }

  img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    z-index: 1;
  }

  .card-body {
    position: absolute;
    z-index: 2;


    ul {
      font-size: 0;
      opacity: 0;

      &:hover {
        opacity: 1;
        cursor: pointer;
        transition: $transition;
      }

      li {
        display: inline-block;
      }
    }

    i {
      font-size: 20px;
      width: 50px;
      height: 50px;
      line-height: 70px;
      color: $color-light;

      &:hover {
        color: $color-main;
        cursor: pointer;
        transition: $transition;
      }
    }
  }
}

.gallery .links {
  margin-top: 10px;

  a {
    color: $color-main;
    text-decoration: underline;
  }
}
